@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Battambang:wght@100;300;400;700;900&family=Kosugi&family=Koulen&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* ========== COLORS ========== */
    --black: #000000;
    --white: #FFFFFF;
    --nav: #7F909C;
    --submenu: #65737C;
    --submenuhover: #7C8EAE;
    --footer: #1B396B;
    
    --darkblue: #101660;
    --ligthdet_blue: #DFE9F5;
    --bluecarr: #A3B8C7;
    --graycarr: #E8E8E8;
    --back_darkblue: #294B7D;
    --lightblue: #8B9CB6;
    --back_lightblue: #E3EDF1;
    --ribbon_sblue: #406AA2;
    --ribbon_tblue: #8DA7CA;
    --ribbon_fblue: #DBE4F1;
    --match_detblue: #447B9E;
    --match_medblue: #B9CCE6;
    --match_lightblue: #D2DEEA;
    --pos_blue: #E4ECEF;    

    /* =========== FONTS =========== */
    --Koulen: "Koulen", sans-serif;
    --Kosugi: "Kosugi", sans-serif;
    --Alex: "Alex Brush", cursive;
    --Saira: "Saira Condensed", sans-serif;    /*nav*/
    --Krub: "Krub", sans-serif;
    --Battambang: "Battambang", system-ui;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before, ::after { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    font-family: var(--Kosugi);
    color: var(--black);
    background-color: var(--back_lightblue);
    align-items: center;
    justify-content: center;
    text-align: center;
}

ul { list-style: none; }

/* ====================== NAV ====================== */
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 21px 35px;
    background-color: var(--nav);
    opacity: 95%;
    font-family: var(--Koulen);
    font-size: 1.75rem;
    transition: transform 0.3s ease;
    z-index: 99;
}

.scrolled {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.navigation li { position: relative; }

.navigation .preLogo {
    position: absolute;
    top: -30%;
    height: 5.3rem;
    transform: translateX(215%);
}

.navigation .login { margin-left: auto; }

.navigation li a {
    color: var(--white);
    letter-spacing: 1.5px;
    margin-right: 35px;
}

 .navigation li:first-child a ion-icon {
    transform: translateY(2px);
    margin-right: 6px;
}

.navigation li:nth-child(2) a ion-icon {
    width: 15px;
    height: 15px;
    margin-left: 6px;
}

.navigation li:nth-child(4) a ion-icon {
    transform: translateY(13%);
    margin-left: 6px;
}

.navigation li:last-child a { margin-right: 0; }

.navigation li ul {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 240px;
    width: 235px;
    padding: 5px 15px;
    background-color: var(--nav);
    color: var(--white);
    font-family: var(--Battambang);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-top: 21px;       /* Igual al padding-top del navigation */
    margin-left: -20px;
}

.navigation li.active > ul { display: block; }

.subdiscipline li {
    padding: 12px 30px 12px 5px;
    position: relative;
    border-bottom: 1px solid var(--white);
}

.subdiscipline li a {
    display: block;
    width: 100%;
}

.subdiscipline li ion-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
}

.subdiscipline li:first-child ion-icon {
    right: 10px;
    top: 35%;
}

.subdiscipline li:last-child { border-bottom: none; }

.subdiscipline li:hover { background-color: var(--submenuhover); }

.subdiscipline .options {
    top: -46%;
    left: 100%;
    margin-left: 15px;
    background-color: var(--nav);
}

.subdiscipline .options li {
    padding: 12px 30px 12px 5px;
    position: relative;
    border-bottom: 1px solid var(--white);
}

.subdiscipline .options li:last-child { border-bottom: none; }

/* ====================== HEADER ====================== */
header {
    background-image: url('../images/Cancha_Tec.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--white);
}

.content {
    height: calc(100vh - 60px);
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.content img { height: 80%; }

/* ITJ Y FECHA  */
 .h1ITJ {
    padding-top: 30px 90px;
    font-family: var(--Krub);
    font-size: 40px;
    font-weight: 200;
    color: var(--white);
    margin: 0;
    line-height: 1.1;
}

 .h1ITJ .fecha {
    font-family: var(--Koulen);
    font-size: 40px;
    padding: 2px 8px;
    margin-left: 10px;
    border-radius: 8px;
    display: inline-block;
    color: var(--white);
}
.FECHA{
    background-color: var(--azul);
    border-radius: 20px;
    padding: 5px 10px;

}


/* ============== LOGOS  ============== */

.logosP {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.logosP .item {
    max-width: 150px;
    height: auto;
    object-fit: contain;
    margin-top: 100px;
}
 
/* ====================== FOOTER ====================== */
.bfFooter {
    width: 100%;
    height: 15px;
    overflow: hidden;
}

.footer {
    width: 100%;
    height: 380px;
    background-color: var(--footer);
    overflow: hidden;
    display: grid;
    grid-template-columns: 19% 27% 27% 27%;
    padding: 15px 0;
}

.escudo,
.emergency,
.tecnm,
.itj {
    width: 100%;
    height: 100%;
}

.escudo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 9px;
}

.escudo .tec {
    transform: translateX(-10%);
    width: 100px;
    margin-bottom: 17px;
}

.escudo .socialLink { 
    margin-left: 3%;
    width: 14%;
    display: inline-flex;
    align-items: center;
    position: relative;
    text-decoration: none;
}

.escudo .facebook,
.escudo .youtube,
.escudo .twitter,
.escudo .insta { 
    width: 35px; 
    transition: transform 0.3s ease;
}

.escudo .socialText {
    margin-left: 10px;
    opacity: 0;
    transform: translateX(-10px);
    color: var(--white);
    font-family: var(--Battambang);
    font-weight: bold;
    transition: opacity 0.3s ease, transform 0.3s ease;
    white-space: nowrap;
}

.escudo .socialLink:hover .socialText {
    opacity: 1;
    transform: translateX(0);
}

.emergency,
.tecnm,
.itj {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emergency,
.tecnm { border-right: 2px solid var(--white); }

.emergPhone {
    font-family: var(--Battambang);
    font-size: 25px;
    font-weight: bold;
}

.emerPhones,
.phoneText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
}

.emerPhones {
    gap: 20px;
    width: 85%;
    padding-top: 20px;
}

.phones {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.phones img { 
    width: 23px; 
    margin-top: 1%;
}

.phoneText { font-size: 17px; }

.phoneText .phonePeople {
    font-family: var(--Battambang);
    font-weight: bold;
}

.phoneText .phoneNumber { 
    line-height: 20px; 
    color: var(--white);
}












/* ====================== RESPONSIVE ====================== */

@media (max-width: 1200px) {
    .welcome-box h1 {
        font-size: 50px;
    }
    
    .imgChica img {
        transform: translateX(100px);
    }
    /* FOOTER RESPONSIVE */
    .footer {
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 30px;
        align-items: center;
        text-align: center;
    }

    .escudo,
    .emergency,
    .tecnm,
    .itj {
        width: 100%;
        height: auto;
        align-items: center;
    }

    .escudo {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .escudo .tec {
        width: 80px;
        margin-bottom: 10px;
        transform: none;
    }

    .escudo .socialLink {
        width: auto;
        margin: 5px;
    }

    .escudo .socialText {
        display: none; /* En móviles no mostrar texto flotante */
    }

    .emergPhone {
        font-size: 20px;
    }

    .emerPhones {
        width: 100%;
        padding-top: 10px;
        gap: 15px;
    }

    .phoneText {
        font-size: 15px;
    }

    .phones img {
        width: 20px;
    }

    .bfFooter {
        height: 8px;
    }
    
}

@media (max-width: 1079px) {
    .navigation {
        padding: 15px 10px;
        font-size: 22px;
    }
    
    .navigation li {
        padding: 0;
    }
    
    .navigation .logoPre {
        height: 50px;
        width: 50px;
    }
    
    .navigation .logo-text {
        font-size: 12px;
    }
    
    .welcome-box {
        width: 90%;
        border-radius: 100px 0 100px 0;
    }
    
    .welcome-box h1 {
        font-size: 40px;
    }
    
    .logosP .item {
        max-width: 100px;
    }
}

@media (max-width: 768px) {
    .content img {
        height: 50%;
    }
}

@media (max-width: 480px) {
    .content img {
        height: 45%;
    }
    /* ITJ Y FECHA  */
 .h1ITJ {
    padding-top: 70px;
    font-family: var(--Krub);
    font-size: 20px;
    font-weight: 200;
    color: var(--white);
    margin: 0;
    line-height: 1.1;
}

 .h1ITJ .fecha {
    font-family: var(--Koulen);
    font-size: 20px;
    padding: 2px 8px;
    margin-left: 10px;
    border-radius: 8px;
    display: inline-block;
    color: var(--white);
}

}





